.primary {
    background-color: cadetblue;
}

.secondary{
    height: 544px; 
    width: 100%;
    border: 2px solid black;
    margin-top: 20px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; 
    justify-content: space-around;
    align-items: center;
}

h1{
text-align: center;
margin-top: 80px;
}

h2{
    margin-top: 0px;
    margin-bottom: 40px;
    text-align: center;
}
h6{
    color: black;
text-align: center;
}

.item{
    width: 200px;
    height: 200px;
    background-color:cyan;
    border: 2px solid black;
    margin: 10px;
    padding: 3px;
    border-radius: 8px;
}

/* #item13{
    height: 10px;
    width: 50px;
} */

.ftco-section-parallax .parallax-img {
    background-color:#A0BBDE;
}

.main{
    /* background-color: darkcyan;
    width:1000px;
    margin:auto;
    margin-top: 100px; */

    height: 600px;
    width: 100%;
    /* border: 2px solid black; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.container2{
    background-color: cadetblue;
    margin-top: 80px;
}

.card{
    width: 200px;
    height: 200px;
    /* border: 2px solid black; */
    margin: 10px;
    padding: 3px;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(240, 239, 239, 0.6);
    transition: 0.4s;
    /* text-align: center; */
    /* font-size: 16px; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* float: left; */
}

.card:hover{
    transform: scale(1.05);
    cursor: pointer;
    box-shadow: 0 8px 16px  0 rgba(0,0,0,0.6);

}
.content{
    padding: 2px 16px;
}


.fileUploadInput {
    display: grid;
    grid-gap: 10px;
    position: relative;
    z-index: 1; }

    .fileUploadInput label {
    display: flex;
    align-items: center;
    color: setColor(primary, 0.5);
    background: setColor(rgb(39, 38, 38));
    transition: .4s ease;
    font-family: arial, sans-serif;
    font-size: .75em;
    font-weight: regular; }

    .fileUploadInput input {
    position: relative;
    z-index: 1;
    padding: 0 gap(m);
    width: 100%;
    height: 50px;
    border: 1px solid #323262;
    border-radius: 3px;
    font-family: arial, sans-serif;
    font-size: 1rem;
    font-weight: regular; }
    .fileUploadInput input[type="file"] {
    padding: 0 gap(m); }
        .fileUploadInput input[type="file"]::-webkit-file-upload-button {
        visibility: hidden;
        margin-left: 10px;
        padding: 0;
        height: 50px;
        width: 0; }

    .fileUploadInput button {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 50px;
    height: 50px;
    line-height: 0;
    user-select: none;
    color: white;
    background-color: #323262;
    border-radius: 0 3px 3px 0;
    font-family: arial, sans-serif;
    font-size: 1rem;
    font-weight: 800; }
    .fileUploadInput button svg {
        width: auto;
        height: 50%; }

  * {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    border: 0px;
    outline: 0;
    background-repeat: no-repeat;
    appearance: none;
    border-radius: 0;
    vertical-align: middle;
    font-weight: inherit;
    font-style: inherit;
    font-family: inherit;
    text-decoration: none;
    list-style: none;
    user-select: text;
    line-height: 1.333em; }

    @-moz-document url-prefix() {
    .fileUploadInput button{
    display: none
    }
    }

#predict{
    border-radius: 8px;
    background-color:rgb(31, 185, 121);
    padding:10px;
    border: 1px #323262;
    color: azure;
    font-size: large;
    font-weight: 800;
}
#predict:hover{
    transform: scale(1.05);
    cursor: pointer;
    box-shadow: 0 8px 16px  0 rgba(0,0,0,0.6);
}