<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="button_animation.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
    <!-- <script src="../static/js/button_animation.js">   </script> -->
  
</head>
<script type="text/javascript">

    $(document).ready(function(){
    $(".button").on("click",function(){
        $(this).addClass("active");

        
        setTimeout(function(){
$(".button").addClass("success");

        }, 3800);

        setTimeout(function(){
$(".button").removeClass("active");
$(".button").removeClass("success");
        }, 5000);
    });
});

</script>
<body>
    <button class="button">Button</button>
    
</body>
</html>