{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>This is first home page</h1>
    <img src="{% static 'images/home.png' %}" alt="" />
    {{var_1}} {{var_2}}

  {% if user.is_authenticated %}
      Hi {{ user.username }}!
    <p><a href="{% url 'logout' %}">logout</a></p>
  {% else %}
      <p>You are not logged in</p>
      <a href="{% url 'login' %}">login</a>
  {% endif %}
  </body>
  
</html>
