*{
    margin:0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;   
}

.hero{
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;
}

.logo{
    width: 400px;
    padding: 2% 3%;
    cursor: pointer;
}

.navbar{
    width: 85%;
    height: 30%;
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: space-between;
}

button{
    left: 20%;
    color: rgb(41, 39, 39);
    font-size: medium;
    font-family: 'Anton', sans-serif;
    font-weight: 400;
    padding: 10px 45px;
    background: transparent;
    border: 3px solid rgb(255, 255, 255);
    border-radius: 20px;
    outline: none;
    cursor: pointer;
    position: relative;
    display: inline-block;
    margin-top: 2%;
    margin-left: 2%;
    transition: 0.3s;
}

button:hover{
    color: black;
    background: #fbfcfd;
}

.content{
    color: #fbfcfd;
    position: relative;
    top: 30%;
    left: 8%;
    transform: translateY(-50%);
    z-index: 2;
}

.right_text{
    margin-left: 20%;
    display: inline-block;
}

.right_text_2{
    margin-left: 27%;
    display: inline-block;
}

h1{
    font-size: 60px;
    margin: 10px 0 30px;
    line-height: 80px;
}

.bubbles img{
    width: 50px;
    animation: bubble 7s linear infinite;
}

.bubbles{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    bottom: -70px;
}

@keyframes bubble{
    0%{
        transform: translateY(0);
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    70%{
        opacity: 1;
    }
    100%{
        transform: translateY(-80vh);
        opacity: 0;
    }
}

.bubbles img:nth-child(1){
    animation-delay: 2s;
    width: 25px;
}
.bubbles img:nth-child(2){
    animation-delay: 1s;
}
.bubbles img:nth-child(3){
    animation-delay: 3s;
    width: 25px;
}
.bubbles img:nth-child(4){
    animation-delay: 4.5s;
}
.bubbles img:nth-child(5){
    animation-delay: 3s;
}
.bubbles img:nth-child(6){
    animation-delay: 6s;
    width: 20px;
}
.bubbles img:nth-child(7){
    animation-delay: 7s;
    width: 35px;
}