*{
    margin:0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;   
}

/* ---------------------------------
    language selector ---------------------- */

.hero{                           /* ---- to cover background image ---- */
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;
}

.logo{                           /* ---- to set logo ---- */
    width: 400px;
    padding: 2% 3%;
    cursor: pointer;
}

.navbar{                         /* ---- to compiler logo into navbar ---- */
    width: 85%;
    height: 30%;
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: space-between;
}

button{                           /* ---- to set buttons ---- */
    left: 20%;
    color: rgb(41, 39, 39);
    font-size: medium;
    font-family: 'Anton', sans-serif;
    font-weight: 400;
    padding: 10px 45px;
    background: transparent;
    border: 3px solid rgb(255, 255, 255);
    border-radius: 20px;
    outline: none;
    cursor: pointer;
    position: relative;
    display: inline-block;
    margin-top: 2%;
    margin-left: 2%;
    transition: 0.3s;
}

button:hover{
    color: black;
    background: #fbfcfd;
}

.content{                           /* ---- to set layout for text ---- */
    color: #fbfcfd;
    position: relative;
    top: 30%;
    left: 8%;
    transform: translateY(-50%);
    z-index: 2;
}

.right_text{                        /* ---- to set layout for hindi text ---- */
    margin-left: 20%;
    display: inline-block;
}

.right_text_2{                      /* ---- to set layout for hindi text-2 ---- */
    margin-left: 27%;
    display: inline-block;
}

h1{                                 /* ---- to set h1 tag ---- */
    font-size: 60px;
    margin: 10px 0 30px;
    line-height: 80px;
}

.bubbles img{                       /* ---- to set animation of bubbles ---- */
    width: 50px;
    animation: bubble 7s linear infinite;
}

.bubbles{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    bottom: -70px;
}

@keyframes bubble{
    0%{
        transform: translateY(0);
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    70%{
        opacity: 1;
    }
    100%{
        transform: translateY(-80vh);
        opacity: 0;
    }
}

.bubbles img:nth-child(1){                           /* ---- to change size and time for bubbles ---- */
    animation-delay: 2s;
    width: 25px;
}
.bubbles img:nth-child(2){
    animation-delay: 1s;
}
.bubbles img:nth-child(3){
    animation-delay: 3s;
    width: 25px;
}
.bubbles img:nth-child(4){
    animation-delay: 4.5s;
}
.bubbles img:nth-child(5){
    animation-delay: 3s;
}
.bubbles img:nth-child(6){
    animation-delay: 6s;
    width: 20px;
}
.bubbles img:nth-child(7){
    animation-delay: 7s;
    width: 35px;
}

/* ---------------------------------
    preloader ---------------------- */

.loader{
    margin:0px;
    padding: 0px;
}

.loader .main{                           /* ---- to set background color properly ---- */
    width:100%;
    height: 100vh;
    background: linear-gradient(80deg, #110e1f, #1b1730);
    position: fixed;
    top:0px;
    left:0px;
    z-index: 9999;
}
.text{                                  /* ---- to set text of preloader ---- */
    width: 100%;
    height: 100vh;
    background-image: url(../images/Background11.jpg);
    background-size: 100% 100%;
    background-position: center;
    font-family: 'Indie Flower', cursive;
    font-size: 80px;
    text-align: center;
    line-height: 650px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-5deg);
    color: #d2006b;
    -webkit-background-clip: text;
    pointer-events: none;
    animation: anim1 1.5s infinite, anim2 2s forwards;
}

@keyframes anim1{                           /* ---- to change images one by one inside the text ---- */
    0%{background-image: url(../images/Background11.jpg);}
    10%{background-image: url(../images/Background12.jpg);}
    20%{background-image: url(../images/Background13.jpg);}
    30%{background-image: url(../images/Background14.jpg);}
    40%{background-image: url(../images/Background15.jpg);}
    50%{background-image: url(../images/Background16.jpg);}
    60%{background-image: url(../images/Background17.jpg);}
    70%{background-image: url(../images/Background18.jpg);}
    80%{background-image: url(../images/Background19.jpg);}
    90%{background-image: url(../images/Background20.jpg);}
    100%{background-image: url(../images/Background21.jpg);}
}

@keyframes anim2{
    from{color: #d2006b;}
    to{color:transparent;}
}

.loader .main .title{                           /* ---- to set tag line ---- */
    font-family: monospace;
    font-size: 12px;
    color: white;
    letter-spacing: 5px;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.bar{                                           /* ---- to set loading bar ---- */
    width: 80px;
    height: 2px;
    background-color: #282246;
    position: absolute;
    top:63%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
}

#fill{                                          /* ---- to fill loading bar ---- */
    width: 0%;
    height: 100%;
    background-color: white;
    top: 0px;
    left: 0px;
}

/* ---------------------------------
    la la la ---------------------- */